    {% comment %}Care Instructions{% endcomment %}
    {% assign product_tags_string = product.tags | join: ' ' %}
  
	{% if product_tags_string contains 'care-' %}
    <div class="product__accordion accordion quick-add-hidden care-instruction-block" {{ block.shopify_attributes }}>
        <details id="Details-{{ block.id }}-{{ section.id }}">
            <summary>
                <div class="summary__title">
                {% render 'icon-accordion', icon: block.settings.icon %}
                <span class="h4 accordion__title inline-richtext">
                    {{ block.settings.heading }}
                </span>
                </div>
                {% render 'icon-caret' %}
            </summary>
            <div class="accordion__content rte" id="ProductAccordion-{{ block.id }}-{{ section.id }}">
                {% assign icons = product.metafields["global"]["care-instructions-icons"] | split: ',' %}
                <ul class="care-list care">
                    {% if product.tags contains 'care-Wash' %}
                        <li class="wash-yes care-item"><p class="tooltip-text">OK To Wash</p></li>
                    {% endif %}
                    {% if product.tags contains 'care-Dry Clean' %}
                        <li class="dry-clean-yes care-item"><p class="tooltip-text">OK To Dry Clean</p></li>
                    {% endif %}
                    {% if product.tags contains 'care-Iron' %}
                        <li class="iron-yes care-item"><p class="tooltip-text">OK To Iron</p></li>
                    {% endif %}
                    {% if product.tags contains 'care-Tumble Dry' %}
                        <li class="dry-yes care-item"><p class="tooltip-text">OK To Tumble Dry</p></li>
                    {% endif %}
                    {% if product.tags contains 'care-Not Tumble Dry' %}
                        <li class="dry-no care-item"><p class="tooltip-text">Do Not Tumble Dry</p></li>
                    {% endif %}
                    {% if product.tags contains 'care-Not Bleach' %}
                        <li class="bleach-no care-item"><p class="tooltip-text">Do Not Bleach</p></li>
                    {% endif %}
                    {% for iconArray in icons %}
                    {% assign icon = iconArray | split: ':' %}
                    
                    {% if icon[0] == "wash" and icon[1] == "true" %}
                        <li class="wash-yes care-item"><p class="tooltip-text">OK To Wash</p></li>
                    {% endif %}
                    
                    {% if icon[0] == "dry-clean" and icon[1] == "true" %}
                        <li class="dry-clean-yes care-item"><p class="tooltip-text">OK To Dry Clean</p></li>
                    {% endif %}
                    
                    {% if icon[0] == "iron" and icon[1] == "true" %}
                        <li class="iron-yes care-item"><p class="tooltip-text">OK To Iron</p></li>
                    {% endif %}

                    {% if icon[0] == "tumble-dry" and icon[1] == "true" %}
                        <li class="dry-yes care-item"><p class="tooltip-text">OK To Tumble Dry</p></li>
                    {% endif %}

                    {% if icon[0] == "tumble-dry" and icon[1] == "false" %}
                        <li class="dry-no care-item"><p class="tooltip-text">Do Not Tumble Dry</p></li>
                    {% endif %}

                    {% if icon[0] == "not-bleach" and icon[1] == "true" %}
                        <li class="bleach-no care-item"><p class="tooltip-text">Do Not Bleach</p></li>
                    {% endif %}
                    {% endfor %}
                </ul>
                {% unless product.type == 'Shirt' %}
                    {% if product.metafields["global"]["care-instructions-text"] %}
                        <p style="margin-top: 12px;">{{ product.metafields["global"]["care-instructions-text"] }}</p>
                    {% endif %}
                {% endunless %}
                {% if product.type == 'Ties' %}
                    <p>Dry clean if necessary.</p>
                {% endif %}
            </div>
        </details>
    </div>
{% endif %}
